@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    color: #333;
}

.header{
    background-color: #530B21;
    padding: 10px;
    height: 50px;
    display: flex;
}

.logo{
    font-family: 'Protest Riot', sans-serif;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: relative;
    left: 90px;
    top: 10px;
    width: 100px;
    height: auto;
    color: rgb(255, 255, 255);
}

.nav {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 355px;
    top: 10px;
    gap: 20px;
}

.nav2 {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 375px;
    top: 10px;
    gap: 20px;
}

.nav3 {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 395px;
    top: 10px;
    gap: 20px;
}

.nav4 {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 410px;
    top: 10px;
    gap: 20px;
}

.article__subtitle {
    color: #ffffff;
}

.article__wmydr {
    font-size: 25px;
    color: #E5284E;
    line-height: 1.6;
}

.article__text {
    font-size: 15px;
    color: #ffffff;
    line-height: 1.6;
}

.article {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.article_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.celestial__title {
    font-size: 25px;
    color: #E5284E;
    text-align: center;
    display: flex;
    padding: 45px;
    position: relative;
    left: 245px;
}

.article__image {
    width: 325px;
    height: 215px;
    border-radius: 5px;
    object-fit: cover;
}

.celestial__text {
    color: #ffffff;
    font-size: 15px;
    display: flex;
    justify-content: center;
    max-width: 800px;
    line-height: 1.6;
    text-align: center;
    align-items: center;
    position: relative;
    left: 197px;
    bottom: 25px;
}

footer {
    background-color: #530B21;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    margin: 10;
    padding: 28px;
    
}